# top-most EditorConfig file
root = true

# Default settings:
[*]
max_line_length = 130
end_of_line = crlf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true


[*.{xml,yml,yaml,json,props,targets,csproj,slnx}]
indent_size = 2
tab_width = 2

[**/Migrations/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.severity = none

[*.cs]
indent_size = 4
tab_width = 4


dotnet_diagnostic.xUnit1051.severity = none
